<aside class="sidebar" th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org">

  <div class="sidebar-main">
    <div class="sidebar-logo">
      <a href="#">
        <img th:src="@{/images/logo.png}" alt="호호책방">
      </a>
    </div>

    <nav class="main-menu">

      <button type="button" class="main-menu-item active" data-menu="data">
        <i class="fa-solid fa-database"></i>
        <span>데이터<br>관리</span>
      </button>

      <button type="button" class="main-menu-item" data-menu="operation">
        <i class="fa-solid fa-gears"></i>
        <span>운영관리</span>
      </button>

      <button type="button" class="main-menu-item" data-menu="monitor">
        <i class="fa-solid fa-desktop"></i>
        <span>모니터링</span>
      </button>

      <button type="button" class="main-menu-item" data-menu="growth">
        <i class="fa-solid fa-chart-line"></i>
        <span>성장관리</span>
      </button>

    </nav>

    <div class="sidebar-bottom">
      <button class="quick-btn green">메인으로</button>
    </div>
  </div>

  <div class="sidebar-sub">

    <div class="sub-menu active" data-sub="data">
      <a th:href="@{/admin/book-data}">도서 데이터 관리</a>
      <a th:href="@{/admin/book-priority}">권장도서 순위</a>
      <a href="level-badge.html">레벨/뱃지 관리</a>
    </div>

    <div class="sub-menu" data-sub="operation">
      <a th:href="@{/admin/book-stock}">보유도서 설정</a>
      <a href="center.html">운영 스케줄</a>
      <a href="teacher.html">학생 정보</a>
    </div>

    <div class="sub-menu" data-sub="monitor">
      <a th:href="@{/admin/monitor/live-view}">실시간 모니터링</a>
      <a th:href="@{/admin/monitor/reservation-view}">예약 현황</a>
    </div>

    <div class="sub-menu" data-sub="growth">
      <a th:href="@{/admin/growth/diary}">독서일지</a>
      <a href="student-growth.html">학생 성장 분석</a>
      <a href="reward.html">앱 발송</a>
    </div>

  </div>

</aside>